<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'auth_app/base.html' %}
{% block content %}

    <h2>SIGNUP</h2><br>
    {% if error %}

        {{ error }}<br>

    {% endif %}
    <form method="POST">
      {% csrf_token %}
      Nazwa użytkownika:<br>
      <input type="text" name="username"><br><br>
      Hasło:<br>
      <input type="password" name="password1"><br><br>
      <input type="submit" value="Zarejestruj">
    </form>

{% endblock %}
</body>
</html>