<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid ml-auto">

    {% extends 'auth_app/base.html' %}
    {% block content %}

                    <h2>REJESTRACJA</h2><br>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                        <i class="fas fa-exclamation-circle"></i>
                            {{ error }}<br>
                        </div>
                        {% endif %}
    <form method="POST">
      {% csrf_token %}

        Nazwa użytkownika:<br>
                <input type="text" name="username"><br><br>
        Hasło:<br>
                <input type="password" name="password1"><br><br>
        email:<br>
                <input type="email" name="email"><br><br>
        Imię:<br>
                <input type="first_name" name="firstname"><br><br>
        Nazwisko:<br>
                <input type="last_name" name="lastname"><br><br>

                <input class="btn btn-danger" type="submit" value="Zarejestruj">

    </form>

    {% endblock %}

    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-H+K5P2zjb1p62hDuUzYn1s61mXZYM5MhpNM1lOM2LsE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-X6fwn5Xy8yf5OVWvwuTGhLeTiwT04nh1lXqKyJYlA8wES2r6ETDb4A85tmbflm9O" crossorigin="anonymous"></script>
</body>
</html>