<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <h2>Modyfikacja diety numer {{ died.name }}</h2>
  <form method="POST">
      {% csrf_token %}
      <input type="text" placeholder="podaj diete" name="died" value="{{ died.name }}">
      <input type="submit" value="Zmodyfikuj">
  </form>
  <h1>Szczegóły diety: {{ died.name }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zapisz opis</button>
    </form>
<a href="{% url 'week_app:died_detail' died.id %}"><button>Anuluj</button></a>
  <br/>
</body>
</html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <h2>Modyfikacja diety numer {{ died.name }}</h2>
  <form method="POST" enctype="multipart/form-data">

      {% csrf_token %}
      {{ form.as_p }}
      <input type="text" placeholder="podaj diete" name="died" value="{{ died.name }}">
      <input type="submit" value="Zmodyfikuj">
      <button type="submit">Zapisz opis</button>
    </form>
<a href="{% url 'week_app:died_detail' died.id %}"><button>Anuluj</button></a>
  <br/>
</body>
</html>
